<h1>Details of <%= @list.name %></h1>

<%# # affiche une photo si la list a une photo attachée %>
<%= cl_image_tag @list.photo.key if @list.photo.attached %>

<% @list.bookmarks.each do |bookmark| %>
  <div>
    <%= image_tag bookmark.movie.poster_url, alt: "movie.title", width: 100 %>
    <%= bookmark.movie.title %>
    <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure brooo ??'} do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div>
<% end %>

  <%= link_to 'Edit my list', new_list_path(@list),data: {turbo_method: :update}, class:"text-decoration-none btn btn-primary" %>
  <%= link_to "Add a movie ?", new_list_bookmark_path(@list), class:"text-decoration-none btn btn-primary" %>
  <%= link_to "Back to lists", root_path(@list), class:"text-decoration-none btn btn-primary" %>
